{
  "priority_keys": [
    "put_your_high_priority_api_key_here_1",
    "put_your_high_priority_api_key_here_2"
  ],
  "secondary_keys": [
    "put_your_low_priority_api_key_here_1"
  ],
  "usage_limit_per_key": 100,
  "switch_threshold": 40,
  "rotation_timeout": 30,
  "low_quota_threshold": 40,
  "quota_reset_time": "00:05"
}
